
<div class="imagesection">
    <!-- START:hidden_div -->

    <div class="<%= (@article.pictures.count > 999 ? 'hidden-item' : '')%>" id="imagebutton" >              
        <%= render(:partial => "/pictures/upload_button_multi") %>
    </div>


    <div id="images" >              
        <%= render(:partial => "picture_list", :object => @article.pictures) %>
    </div>



</div> 
